Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
olpc-bios-sig
olpc-bios-sig.o
olpc-dm
olpc-dm.o
setolpckeys
setolpckeys.o
stamp-h1
config.h.in~
.deps
