# Link the RTC that can wake up the CPU as rtcalarm
SUBSYSTEM=="rtc" DRIVERS=="mmp-rtc" SYMLINK+="rtcalarm" 
## On F17 and later we find the rtc link set properly
# SUBSYSTEM=="rtc" DRIVERS=="rtc_idt1338" SYMLINK+="rtc" 
