# udev rules to assign persistent names to OLPC XO-1.5 SD cards and their
# partitions, based on the MMC bus where they reside
#
# mmcblkXpY names cannot be used to reliably identify internal vs external
# cards, because the "X" component is generated incrementally, regardless of
# backing MMC bus number.

SUBSYSTEM=="mmc_host", KERNEL=="mmc[0-9]", ENV{MMC_BUSNO}="%n"
SUBSYSTEM=="mmc", KERNEL=="mmc[0-9]:*", IMPORT{parent}="MMC_BUSNO"
SUBSYSTEM=="block", KERNEL=="mmcblk?", IMPORT{parent}="MMC_BUSNO", SYMLINK+="disk/mmc/mmc$env{MMC_BUSNO}"
SUBSYSTEM=="block", KERNEL=="mmcblk?p?", IMPORT{parent}="MMC_BUSNO", SYMLINK+="disk/mmc/mmc$env{MMC_BUSNO}p%n"

