# Lego WeDo
# was: SYSFS{idVendor}=="0694", SYSFS{idProduct}=="0003", GROUP="dialout", MODE="0660"
# allow give access to all Lego products
SYSFS{idVendor}=="0694", GROUP="dialout", MODE="0660"

